@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*
{
    font-family:'Lora', serif;
}

body
{
    background-color: #faded9;
    color: #203287;
}

a
{
    text-decoration: none;
    color: #d92323;
}

#custom_dates
{
    display: none;
}

form *
{
    margin-top: 10px;
}

input[type="submit"], button
{
    padding: 20px;
    border-style: none;
    background-color: #f28282;
}

input[type="submit"]:hover, button:hover
{
    cursor: pointer;
    background-color: #f28282;
}

#lastfm_form, #spotify_form
{
    display: inline-block;
}

#titles
{
    margin-bottom: 30px;
}
