<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
    </style>
    <title>{{title}}</title>
    <link  rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

    {% block style %}
    {% endblock %}
</head>
<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>