{% extends "base_template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
{% endblock %}

{% block content %}
    <div class="text-center" id="titles">
        <h1>Music Analyzer Project</h1>
        <h2>Welcome!</h2>
    </div>
    
    <div class="container">
        <div class="row">
            <div id="lastfm_form" class="col">
                <p>Enter <a id="lastfm_link" target="_blank" href="https://www.last.fm/home">Last.fm</a> username: </p>

                <form action="/validate_data" method="POST">
                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input id="username" name="username" type="text" autocomplete="off" required>
                    </div>

                    <div class="form-group">
                        <label for="time_period">Time period: </label>
                        <select id="time_period" name="time_period" required>
                            <option value="7day">7 days</option>
                            <option value="1month">1 month</option>
                            <option value="3month">3 months</option>
                            <option value="6month">6 months</option>
                            <option value="12month">1 year</option>
                            <option value="overall">Overall</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <div id="custom_dates">
                            <label for="start_date">Start date: </label>
                            <input id="start_date" name="start_date" type="date">

                            <label for="end_date">End date: </label>
                            <input id="end_date" name="end_date" type="date">
                        </div>
                    </div>
                    <input class="btn" type="submit" value="Submit">
                </form>
            </div>

            <div class="col">
                <p>Upload Spotify user data here: </p>
                <form action="/validate_files" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" required class="form-control-file" id="json_files" accept="application/json" multiple>
                    </div>
                    <input class="btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
        
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div id="messages" class="row bg-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}   
            {% endwith %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='date_functions.js') }}"></script>
{% endblock %}