{% extends "base_template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lastfm_analysis.css') }}">
{% endblock %}

{% block content %}
    <button class="btn align-left"><a href="{{ url_for('main_page') }}">Home</a></button>
    <div class="text-center">
        <h1>Last.fm stats for {{ username }} <br> for time period {{ start_date }} - {{ end_date }}: </h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container-fluid">
        <div class="row">
            {% for data_type, table in session.short_tables.items() %}
                <div class="col">
                    <h3>Top 15 {{ data_type.capitalize() }}</h3>
                        {{ table | safe }}
                    <button class="btn"><a href="{{ url_for('see_more', username=username, time_period=time_period, start_date=start_date, end_date=end_date, prev_title=title, data_type=data_type)}}">See more</a></button>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for name, graph in session.graphs.items() %}
                <div class="col">
                    {{ graph.div | safe }}
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for name, graph in session.custom_graphs.items() %}
                <div class="col">
                    {{ graph.div | safe }}
                </div>
            {% endfor %}
            <!-- overall stats -> num of scrobbles, num_artists, average per day, popularity, idk else -->
            <!-- <div class="col">{{ session.overall_stats | safe }}</div> -->

            <!-- similar artists -->
            <!-- <div class="col">{{ session.tracks_table | safe }}</div> -->

            <!-- export similar artists to playlist; export scrobble data to sth? -->
            <!-- <div class="col">{{ session.artists_table | safe }}</div> -->
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.6.2.min.js"></script>

    {% for name, graph in session.graphs.items() %}
        {{ graph.script | safe }}
    {% endfor %}

    {% for name, graph in session.custom_graphs.items() %}
        {{ graph.script | safe }}
    {% endfor %}

{% endblock %}
