{% extends "base_template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Full {{ data_type.capitalize() }} Table</h2>
    {{ full_table | safe }}
    
    <!-- TODO: invalid time period here  -->
    <button class="btn"><a href="{{ url_for('lastfm_analysis', username=username, title=prev_title, time_period=time_period) }}">Back</a></button>
</div>
{% endblock %}
