{% extends "base_template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
{% endblock %}

{% block content %}
<button class="btn align-left position-fixed" onclick="go_back()">Back</button>

<div class="container">
    <h2>Full {{ data_type.capitalize() }} Table</h2>
    {{ full_table | safe }}
</div>
{% endblock %}

{% block scripts %}
<script>
    function go_back()
    {
        window.history.back();
    }
</script>
{% endblock %}

